html,
body,
div,
header,
h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("../../img/intro-1591382762.jpg"); */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    margin-top: 0;
}

footer {
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 10vh;
}

.debug * {
    outline: 1px solid orange;
}

.small {
    font-size: 0.8em;
}

.btn {
    background-color: goldenrod;
    padding: 5px;
    margin: 5px;
}

.user-msg {
    background-color: gray;
}

audio {
    width: 200px;
}


/* 
img {
    width: 10%;
} */

button {
    border-radius: 10em;
}