.home-container {
    background-color: #fff;
    height: 78vh;
    text-align: center;
    font-size: 3.7rem;
    color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1 {
    color: lightblue;
    font-size: 3.7rem;
    font-weight: revert;
    margin-top: 3vh;
}

.home-container p {
    color: gold;
    margin-top: 30px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.home-img {
    width: 80vw;
}

@media (max-width: 460px) {
    .fotter {
        margin: 0;
    }
}