.home-container {
    /* display: grid;
    grid-template-columns: repeat(2, 50vw); */
    /* background-color: rgba(5, 11, 15, 0.322); */
}

/* .home-container .home-mister-email {
    grid-area: 1/1/5/2;
} */

.home-container {
    background-color: #fff;
    height: 80vh;
    text-align: center;
    font-size: 4.5rem;
    color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1 {
    color: lightblue;
    font-size: 4.5rem;
    font-weight: revert;
    margin-top: 3vh;
}

.home-container p {
    color: gold;
    margin-top: 30px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}