.icons {
    display: inline;
    padding: 2px;
    margin: 2px;
}

.icons>img {
    margin: 2px;
}

.icons>img:hover {
    cursor: pointer;
}

.icons.icon-text {
    margin-top: 2vh;
}

.miss-keeper-form {
    margin: 3vw 32vw;
}

.input-filter-misskeeper {
    margin-inline-start: 39.7vw;
}

@media (max-width: 460px) {
    .input-filter-misskeeper {
        margin-inline-start: 25.5vw;
    }
    .miss-keeper-form {
        margin: 3vw 24vw;
    }
}