.icons {
    display: inline;
    padding: 2px;
    margin: 2px;
}

.icons>img {
    /* padding: 2px; */
    margin: 2px;
}

.icons>img:hover {
    cursor: pointer;
}

.icons.icon-text {
    margin-top: 2vh;
}

.miss-keeper-form {
    margin: 3vw 32vw;
}

.section-filter {
    margin-inline-start: 39.7vw;
}