.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-list>section>* {
    margin: 1.7vh 3vw;
    border: 1.8px solid lightcyan;
    border-radius: 10px;
    padding: 5px;
    width: 20vw;
    min-width: 200px;
    min-height: 15vh;
    text-align: center;
    text-transform: capitalize;
    justify-items: center;
}

.note-list>section>section>img {
    width: 12em;
    height: 12em;
}

@media (max-width: 460px) {
    .note-list>section>* {
        width: 80vw;
    }
}