.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-list>section>* {
    /* display: inline-block; */
    margin: 5px 3vw;
    border: 1.8px solid lightcyan;
    border-radius: 10px;
    padding: 5px;
    width: 20vw;
    min-width: 200px;
    min-height: 15vh;
    /* height: 30vh; */
    text-align: center;
    text-transform: capitalize;
    justify-items: center;
}

.note-list>section>section>img {
    width: 12em;
    height: 12em;
}

.trash-icon>img {
    /* display: flex;
    align-self: flex-end; */
    float: inline-end;
}

.ping {
    order: -1
}