.app-header {
    background-color: black;
    color: whitesmoke;
}

.app-header h1 {
    font-size: 2em;
}
.app-header nav ul {
    list-style: none;
}

.app-header nav li{
    display: inline-block;
    margin: .5em;
}

