

.email .email-header .read{
    
    font-weight: lighter
}
.email .email-header .unread{
    font-weight: bold;
}

.email .select-email{
    background-color: crimson;
}
.email .email-header{
    white-space: nowrap;
    height: 50px;
    overflow: hidden;
    text-overflow: "----"; 
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 30px;
}
