    .email-list {
        background-color: rgba(211, 211, 211, 0.349);
        grid-area: 2/2/5/3;
    }
    /* .email-list>* {
    background-color: rgba(65, 60, 60, 0.349);
    border: 1.8px solid lightcyan;
} */
    /* .title {
        background-color: rgba(65, 60, 60, 0.349);
        border: 1.8px solid lightcyan;
        padding: 3vh;
        margin: 2vh;
    } */
    
    .email article {
        background-color: rgba(65, 60, 60, 0.349);
        border: 1.8px solid lightcyan;
        margin-inline-start: 22vw;
        padding: 3vh;
        margin: 4vh 2vh 0;
        width: 60vw;
    }
    
    .title.read {
        cursor: pointer;
    }




    .email .details{
        margin-top: 0%;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        position: relative;
        overflow: hidden;
        text-overflow: clip; 
    }
    .email .details h4{
        margin: 0 2px 5px;
    }

    .email .details .trash{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 1.5rem;
        background-color: darkgray;
        padding: 10px;
        border-radius: 47%;
        width: 1.4rem;
        text-align: center;
     
    }

    .email .details .trash:hover{
        cursor: pointer;
    }

