section.email-app {
    display: grid;
    grid-template-columns: 25vw 1fr;
    margin-top: 5vw;
    /* background-color: rgba(38, 67, 100, 0.301); */
}



.email-filter {
    grid-area: 1/2/2/3;
    margin-bottom: 3vh;
}

.email-app form.input-email{
    grid-area: 3/1/4/2;
    max-width: 4000px;
    margin-top: 2.9vh;
    background-color: rgb(47, 47, 47);
    padding: 0;
    position: absolute;
    z-index: 1;
    margin: 10px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  

}
.email-app form.input-email .form-header{
    width: 520px;
    font-size: 1.25rem;
    color: whitesmoke;
    background-color: rgb(24, 24, 24);
    position: relative;
    padding: 2px;
    padding-left: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}
.email-app form.input-email .form-body{
    height: 470px;
    
}
.email-app form.input-email .close{
    position: absolute;
    right: 0;
    padding: 2px;
    margin: 2px 5px;
}
.email-app form.input-email .minimize{
    position: absolute;
    right: 0;
    padding: 2px;
    margin: 2px 27px;
}
.email-app form.input-email .close:hover, .email-app form.input-email .minimize:hover{
    cursor: pointer;
    background-color: rgb(110, 110, 110);
}

.email-app form.input-email input, .email-app form.input-email textarea{
    width: 98%;
    margin: 1%;
    border-radius: 0%;
    background-color: whitesmoke;
    margin-bottom: 0px;
}
.email-app form.input-email textarea{
    height: 320px;
  
}
.email-app form.input-email button{
    padding: 14px;
    font-size: 1.125rem;
    border-radius: 10px;
    box-shadow: none;
    background-color: rgb(0, 110, 179);
    color: whitesmoke;
    border: none;
    position: absolute;
    right: 0;
    margin-right: 6px;
    margin-top: 5px;
}
.email-app .compose-btn {
    margin: 10px;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 25px;
    width: 120px;
    box-shadow: 0px 2px #888888;
    text-align: center;
    transition:  background-color .3s, box-shadow 1.3s;
  
}

.email-app .compose-btn:hover {
    cursor: pointer;
    background-color: rgb(195, 119, 89);
    box-shadow: 2px 2px 6px red;
}
 .w3-border{
    border: 1px solid black !important;
    text-align: center;
    width: 70%;
    margin: 10%;
    position: relative;
 
    background-image:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

.w3-border .w3-orange{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
}